<div class="login-container">
  <div class="login-box">
    <h2>Welcome</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="form-group">
        <input
          [(ngModel)]="username"
          name="username"
          type="text"
          placeholder="Username"
          required>
      </div>
      <div class="form-group">
        <input
          [(ngModel)]="password"
          name="password"
          type="password"
          placeholder="Password"
          required>
      </div>
      <div class="form-group">
        <select
          [(ngModel)]="role"
          name="role"
          required>
          <option value="" disabled selected>Select Role</option>
          <option value="USER">USER</option>
          <option value="ADMIN">ADMIN</option>
        </select>
      </div>
      <div class="button-group">
        <button type="submit" class="login-btn" (click)="login()" >Login</button>
        <button type="button" class="register-btn" (click)="register()">Register</button>
      </div>
    </form>
  </div>
</div>
